# Tuples

In [ ]:
# Tuple is a collection of "immutable" heterogeneous python objects
#immutable - cannot be changed

In [3]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [4]:
print(empty_tuple)

()

In [5]:
city = "bengaluru", #its okay to not put () but definetly put a  ,  after the element 
type(city)

tuple

In [6]:
city = ("bengaluru", "pune", "dehli")
city

('bengaluru', 'pune', 'dehli')

In [7]:
#difference between lists and tuples:

In [9]:
list1 = [1, 2, 3]
tuple1 = (1, 2, 3)

list1.append(5)
print(list1)

tuple1.append(5)
print(tuple1)

[1, 2, 3, 5]

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
print(city)
city[1] 
city[-1]

('bengaluru', 'pune', 'dehli')

'dehli'

In [ ]:
#concatination

In [15]:
print(city)
n = 1, 2, 3, 4
print(city+n)

('bengaluru', 'pune', 'dehli')
('bengaluru', 'pune', 'dehli', 1, 2, 3, 4)

In [ ]:
#nesting
#tuple inside another tuple

In [16]:
nest = (city, n)
print(nest)

(('bengaluru', 'pune', 'dehli'), (1, 2, 3, 4))

In [ ]:
#repetition

In [17]:
rep = ("yeah",)*5
rep

('yeah', 'yeah', 'yeah', 'yeah', 'yeah')

In [18]:
rep = ("yeah",)
print(rep*10)

('yeah', 'yeah', 'yeah', 'yeah', 'yeah', 'yeah', 'yeah', 'yeah', 'yeah', 'yeah')

In [19]:
rep

('yeah',)

In [ ]:
#slicing

In [20]:
n

(1, 2, 3, 4)

In [21]:
print(n[1:])
print(n[::-1]) #reverse

(2, 3, 4)
(4, 3, 2, 1)

In [ ]:
#unpacking

In [22]:
tuple("yeah come on")

('y', 'e', 'a', 'h', ' ', 'c', 'o', 'm', 'e', ' ', 'o', 'n')

In [23]:
n

(1, 2, 3, 4)

In [25]:
a, b, c, d = n
print(a,b,c,d)

1 2 3 4

In [26]:
a, *b, c = n #b is a list (use incase you have no idea about number of elements present)
print(a, b, c)

1 [2, 3] 4

In [ ]:
#deleting tuple

In [27]:
tuple1

(1, 2, 3)

In [28]:
del tuple1

In [29]:
tuple1

NameError: name 'tuple1' is not defined

In [ ]:
#built-in tuple functions

In [32]:
n1 = (1, 3, 5, 7, 9, 9, 9)
print(n1)
print(n1.count(9))
print(sum(n1))
print(len(n1))
print(max(n1))
print(min(n1))

(1, 3, 5, 7, 9, 9, 9)
3
43
7
9
1

In [ ]:
#converting lists to tuple

In [37]:
print(list1)
type(list1)

[1, 2, 3, 5]

list

In [38]:
tuple2 = tuple(list1)
print(tuple2)
type(tuple2)

(1, 2, 3, 5)

tuple

In [ ]:
#nesting tuples in list

In [39]:
list1 = [(1, 2, 3), (4, 5, 6)]
print(list1)

[(1, 2, 3), (4, 5, 6)]

In [41]:
list1.append(("Tuple", "Inside", "a", "list"))
print(list1)

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'a', 'list'), ('Tuple', 'Inside', 'a', 'list')]

In [ ]:
#nesting lists wintin tuple

In [42]:
tuple3 = (['a','b'], ['c', 'd'])
print(tuple3)

(['a', 'b'], ['c', 'd'])

In [43]:
tuple3[0].append('z')
print(tuple3)

tuple3[0].remove('z')
print(tuple3)

(['a', 'b', 'z'], ['c', 'd'])
(['a', 'b'], ['c', 'd'])

In [44]:
tuple3.append(['q']) #tuples cant be changed
print(tuple3)

AttributeError: 'tuple' object has no attribute 'append'